.users-info {
    width: 100%;
}

.table-grid {
    display: block;
    width: 100%;
    overflow: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

.table-heading {
    display: block;
    width: 100%;
    background-color: #81b5a1;
    font-weight: bold;
    min-width: 1140px;
    color: #fff;
}

.table-body {
    width: 100%;
    overflow-y: auto;
    height: 500px;
    min-width: 1140px;
}

.table-footer {
    font-weight: bold;
    background-color: #ddd;
}

.table-row {
    display: block;
    width: 100%;
}

.table-cell, .table-head {
    display: inline-block;
    padding: 0px 20px;
    min-width: 14%;
    max-width: 160px;
    vertical-align: middle;
}

.table-head {
    padding: 10px 20px;
}

.table-cell {
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    /* -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; */
}

.table-heading a {
    color: #fff;
    font-family: sans-serif;
}

.table-cell a {
    margin: 0px 5px;
}

.table-heading a:hover,
.table-heading a:focus {
    text-decoration: none;
}

.table-row:nth-child(odd) {
    background: rgba(115, 163, 144, 0.26);
}

.action-btns {
    display: block;
    margin: 10px 5px;
    float: right;
}

h2 .fas,
a .fas {
    margin: 0 5px;
}

.create-user-btn {
    background-color: #3a6f74;
    border: 1px solid #293e40;
}

.create-user-btn:hover {
    background-color: #81b5a1;
    border: 1px solid #81b5a1;
}